{% import "macros.html" as macros %}
{% extends "base.html" %}

{% block title %}{{ page.title }} - chip's blog things{% endblock title %}

{% block head %}
<meta name="description" content="{{ page.description }}">
{% endblock head %}

{% block content %}
<div class="flex flex-col items-center">
    <h1 class="text-6xl font-bold text-center text-gray-100">{{ page.title }}</h1>
    <ul class="flex flex-col sm:flex-row mt-4 mb-12">
        <li class="mx-4">{{ macros::calendar(date=page.date) }}</li>
        <li class="mx-4">{{ macros::clock(duration=page.reading_time) }}</li>
        {{ macros::tag_items(tags=page.taxonomies.tags, class="mx-4") }}
    </ul>
    <article class="prose prose-sm sm:prose lg:prose-lg xl:prose-xl">
        <blockquote>{{ page.description }}</blockquote>
        {{ page.content | safe }}
    </article>
</div>
{% endblock content %}
